<%= render partial: 'progress', locals: {
  steps: {
    'Pick Day' => 'completed',
    'Choose Slot' => 'active',
    'Customize a Meal' => 'disabled',
    'Checkout' => 'disabled'
  }}
%>
<div class="border border-gray-400 rounded p-10 m-20 my-8">
  <div>
    <h2 class="text-base font-semibold leading-6 text-gray-900">Upcoming Meal Days</h2>
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-16">
      dw
    </div>
  </div>
</div>
</div>
