<div id="<%= dom_id order %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Slot</p>
    <%= order.slot_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">User</p>
    <%= order.user_id %>
  </div>
</div>
